* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.308), rgba(0, 0, 0, 0.555)),
    url('../img/mmbpbuilding2.PNG');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 25px white;
}

.main {
    margin-bottom: 6rem;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    opacity: 85%;
}

.foot-slogan {
    font-weight: 200;
    padding-bottom: 1rem;;
}

.footer-content {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-evenly;
    align-content: baseline;
    padding: auto 10%;
    align-items: center;
}

.nav-logo {
    width: 12rem;
}

.navbar-toggler {
    border: none;
}



.about-container>p {
    color: white;
    margin: 1rem 5px auto;   
}

.service {
    display: none;
}


.flip-card {
    background-color: transparent;
    width: 100%;
    height: 16rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
color: black;
}

.flip-card-back {
color: black;
transform: rotateY(180deg);
}







.modal-button {
    border: none;
    background-color: white;
}

.card {
    margin: 2rem auto 1rem;
    width: 18rem;
    box-shadow: 0 0 10px white;
}

.img-ph {
    width: 100%;
    margin: .5rem auto 1.5rem;
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
}

.card-header {
    margin-top: 2rem;
}


.card-header,
.contact,
.team-header {
    color: white;
    text-align: center;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    column-gap: 15px;
}

.about-container {
    width: 80%;
    margin: auto;
}

.team-header {
    margin-top: 1rem;
}

.hr-header {
    color: black;
}

hr {
 opacity: .6;
 color: white;
 width: 85%;
 margin: 1rem auto;
}

.card-link {
    position: absolute;
    bottom: 1%; 
    text-decoration: none;
    color: black;
}

.card-text {
    margin-bottom: 1rem;
}
.hidden {
    display: none;
}

svg {
    height: 30px;
    width: 30px;
}

.carousel {
    display: none;
    margin: 3rem auto 1rem;
}

.carousel-inner {
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.555);
    border-radius: 8px;
}

.buddy {
    height: 25rem;
    width: 25rem;
    margin: 1rem auto;
    box-shadow: 0 0 15px gray;
}

.modal-body {
    margin: 0rem auto;
    padding-top: 0;
}

.hours-list {
    background-color: rgba(236, 236, 236, 0.308);
    border-radius: 5px;
    height: fit-content;
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.time {
    text-align: right;
}

.line:nth-child(odd) {
    background-color: rgba(202, 202, 202, 0.308);
}

.line:last-child {
    border-radius: 0 0 5px 5px;
}

.line:first-child {
    border-radius: 5px 5px 0 0;
}

.building-block {
    margin-top: 1rem;
}

.address {
    margin-bottom: 1rem;
}

.address>p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}


.walk-in {
    margin-bottom: 1rem;
}

.walk-in>p,
.address>p {
    color: black;
}

.modal-img-container {
    display: none;
    width: 48%;
    height: 28.3%;
}

.modal-img {
    width: 100%;
    border-radius: 5px;
}

/* ================================
========== MEDIA QUERIES ==========
================================ */

@media screen and (min-width: 768px) {
    
    .navbar {
        display: none;
    }

    .about-container {
        margin-top: 3rem;
    }

    .hidden {
        display: flex;
        background-color: white;
        width: 100%;
        justify-content: space-evenly;
        padding: 1rem 10%;
        align-items: center;
        box-shadow: 0 0 25px white;
    }

    .card-main {
        width: 38rem;
    }
    .card-main-body {
        display: flex;
    }
    .card-main-text {
        order: -1;
        width: 35%
    }
    .card-main-link {
        display: none;
    }
    .carousel {
        display: block;
    }
    .card-bio {
        margin-left: 1rem;
    }

    .modal-img-container{
        display: block;
    }
    
    .hours-list {
        width: 50%;
    }
    .building-block {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .main {
        width: 77%;
        margin: 0 auto 5rem;;
    }
}

@media screen and (min-width: 1400px) {
    .about-container {
        width: 70%;
    }
    hr {
        width: 75%;
    }
}