* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(rgba(0, 0, 0, 0.655) 15%, rgba(0, 0, 0, 0.055)),
        url('../img/mmbpbuilding2.PNG');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.svg-hide {
    display: none;
}

.main {
    margin-bottom: 6rem;
    max-width: 75rem;
}

.team-header {
    margin-top: 1rem;
}

hr {
    opacity: .6;
    color: white;
    width: 85%;
    margin: 1rem auto;
}

#supplier-link {
    font-family: 'Rubik Mono One', sans-serif;
    text-decoration: none;
    color: rgb(72, 145, 255);
}

#supplier-link:hover {
    cursor: pointer;
    color: lightblue;
}

.about-container,
.returns {
    width: 85%;
    margin: auto;
}

#reviews {
    margin: auto;
    padding-bottom: 4rem;
}

.review-header {
    text-align: center;
    color: white;
    padding-top: 1rem;
    font-weight: 300;
}

#google-header {
    margin: 2rem auto;
}

#review-p {
    text-align: center;
}

#apply {
    text-align: center;
    font-size: 19px;
}

.services-container {
    margin: auto;
    width: 85%;
    color: white;
}

#service-header,
.employ-header {
    Font-Family: 'Roboto', Sans-Serif;
    text-align: center;
    color: white;
    font-weight: bold;
}

.asterisk {
    font-weight: 300;
    font-size: 12px;
}

.inventory {
    width: 100%;
    border-radius: 5px;
    margin: 1rem auto;
}

.service-img {
    border-radius: 5px;
    margin-bottom: 1rem;
}

.job-list {
    color: white;
}

.border-row {
    border-bottom: 1px solid gray;
}

.border-cell {
    border-right: 1px solid gray;
    padding: 2px;
}

.inv {
    width: 33%;
    text-align: center;
}

.returns {
    color: white;
    margin: 1rem auto 8rem;
}

.returns-table {
    margin: auto;
}

.man-cell {
    width: 10%;
}

.returns-cell {
    text-align: center;
    width: auto;
}

.panel-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }

.panel-list>li:nth-child(even) {
    margin-left: 3rem;
}

#home-about {
    color: white;
}


/* =====================================
============== HEADER ==================
======================================== */

.hr-header {
    color: black;
}

.nav-logo {
    width: 14rem;
}

.navbar-toggler {
    border: none;
}

.about-container>div>p {
    color: white;
}

.about-container>p {
    color: white;
    margin: 1rem 5px auto;
}

.service {
    display: none;
}

.navbar {
    background-color: white;
}

.hidden {
    display: none;
}

svg {
    height: 35px;
    width: 35px;

}

.nav-link {
    overflow: hidden;
}

svg,
.slider {
    transition-duration: .5s;
}

.nav-link:hover>.slider {
    display: block;
    color: black;
    transform: translateY(-25px);
}

.nav-link:hover>svg {
    transform: translateY(-35px);
}

.slider {
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-style: italic;
    position: absolute;
    height: 45px;
    width: 45px;
}

/* =====================================
=============== CARDS ==================
======================================== */

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    column-gap: 15px;
}

.flip-card {
    position: absolute;
    background-color: transparent;
    bottom: 1rem;
    left: 1;
    width: 90%;
    height: 15rem;
}

#staff-card {
    height: 21rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    color: black;
    transform: rotateY(180deg);
}

.card {
    margin: 2rem auto 1rem;
    width: 18rem;
    box-shadow: 0 0 10px white;
}

.img-ph {
    width: 100%;
    height: 15rem;
    margin: .5rem auto 1.5rem;
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
}

.card-header {
    margin-top: 2rem;
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 35px;
}

.card-title {
    font-weight: bold;
}

.contact {
    margin-top: 2rem;
}

.card-header {
    margin-left: 3px;
    margin-right: 3px;
}

.card-header,
.contact,
.team-header {
    color: white;
    text-align: center;
}

.card-main {
    width: 19rem;
}

.card-main-body {
    padding-bottom: 0;
}

#main-img-ph {
    width: 100%;
    margin-bottom: .5rem;
    box-shadow: 0 0 15px gray;
    border-radius: 5px;
}

/* =====================================
============== FOOTER ==================
======================================== */

.foot-slogan {
    font-weight: 200;
    margin-top: 1rem;
    color: white;
    font-style: italic;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    opacity: 85%;
}

.footer-content {
    display: flex;
    height: 3rem;
    background-color: black;
    width: 100%;
    justify-content: space-evenly;
    align-content: baseline;
    padding: auto 10%;
    align-items: center;
}

.foot-svg {
    transition-duration: .5s;
}

.foot-svg:hover {
    transform: scale(1.3);
}

#google-btn {
    background: none;
}


/* =====================================
============== MODAL ==================
======================================== */

.modal-button {
    border: none;
    background-color: white;
}

.modal-body {
    margin: 0rem auto;
    padding-top: 0;
}

.hours-list {
    background-color: rgba(236, 236, 236, 0.308);
    border-radius: 5px;
    height: fit-content;
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.time {
    text-align: right;
}

.line:nth-child(odd) {
    background-color: rgba(202, 202, 202, 0.308);
}

.line:last-child {
    border-radius: 0 0 5px 5px;
}

.line:first-child {
    border-radius: 5px 5px 0 0;
}

.building-block {
    margin-top: 1rem;
}

.address {
    margin-bottom: 1rem;
}

.address>p,
.address-hidden>p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: black;
}

.walk-in {
    margin-bottom: 1rem;
    color: black;
}

.modal-img-container {
    display: none;
    width: 48%;
    height: 28.3%;
}

.modal-img {
    width: 100%;
    border-radius: 5px;
}

.closed {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: rgb(252, 95, 95);
    color: white;
    transform: scale(1.06);
    box-shadow: 0 0 16px rgb(68, 68, 68);
    border-radius: 4px;
}

.open {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: rgb(77, 172, 33);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 8px gray;
    border-radius: 4px;
}

/* =====================================
============== CAROUSEL ================
======================================== */


.carousel {
    display: none;
    margin: 3rem auto 1rem;
}

.carousel-inner {
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.555);
    border-radius: 8px;
}

.staff-carousel {
    height: 25rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 0 15px gray;
}

/* ================================
========== MEDIA QUERIES ==========
================================ */
@media screen and (min-width: 1200px) {
    .team-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "text-a employ"
        "text-a text-b"
        "text-a list"
        "apply apply";
        column-gap: 10px;
    }

    #text-a {
        grid-area: text-a;
    }

    #text-b {
        grid-area: text-b;
    }

    .employ-header {
        grid-area: employ;
    }

    .job-list {
        grid-area: list;
    }

    #apply {
        grid-area: apply;
    }

}

@media screen and (min-width: 360px) {
    .svg-hide {
        display: inline-block;
    }
}

@media screen and (min-width: 576px) {

    .card-main {
        width: 38rem;
    }

    .card-main-body {
        display: flex;
    }

    .card-main-text {
        order: -1;
        width: 35%
    }

    .card-main-link {
        display: none;
    }

    .carousel {
        display: block;
    }

    .card-bio {
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    .card-main-text {
        height: 9rem;
    }

    #main-img-ph {
        float: left;
        display: table-cell;
        width: 40%;
        vertical-align: middle;
        margin: .5rem 1rem 0 auto;
    }

    .modal-img-container {
        display: block;
    }

    .hours-list {
        width: 50%;
    }

    .building-block {
        display: flex;
        justify-content: space-between;
    }

    .address-hidden {
        display: none;
    }
    
    #reviews {
        width: 75%;
    }

    .returns {
        text-align: center;
    }

    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .team-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "text-a employ"
        "text-a text-b"
        "text-a list"
        "apply apply";
        column-gap: 10px;
    }

    #text-a {
        grid-area: text-a;
    }

    #text-b {
        grid-area: text-b;
    }

    .employ-header {
        grid-area: employ;
    }

    .job-list {
        grid-area: list;
    }

    #apply {
        grid-area: apply;
    }
}

@media screen and (min-width: 768px) {

    .card-main {
        width: 46rem;
    }

    .card-main-body {
        padding-bottom: .5rem;
    }

    .card-main-text {
        height: 11rem;
    }

    .navbar {
        display: none;
    }
    
    .about-container {
        margin-top: 1rem;
    }

    .nav-logo {
        margin: auto 2rem;
    }

    .hidden {
        display: flex;
        background-color: white;
        width: 100%;
        justify-content: space-evenly;
        padding: 1rem 10%;
        align-items: center;
    }

    #reviews {
        width: 55%;
    }

    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media screen and (min-width: 992px) {
    .main {
        width: 77%;
        margin: 0 auto 5rem;
    }
    .nav-logo {
        margin: auto 0;
    }

    #reviews {
        width: 45%;
    }    
    
    #review-p {
        width: 65%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .team {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .carousel {
        margin-top: 1rem;
    }

    .team-container {
        display: block;
    }
}

@media screen and (min-width: 1400px) {
    .about-container {
        width: 70%;
    }

    hr {
        width: 75%;
    }
}
